@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!!</h1>
    <p>Sistema de Cadastro Simples</p>
</div>

<body class="text-center">
        
    <img height="650" width="1300" src="https://img.olhardigital.com.br/wp-content/uploads/2019/10/20191009103641-988x450.jpg"

</body>
